body{
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
nav ul{
    display: flex;
}
li{
    list-style: none;
    margin: 0 20px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header{
    background-color: lightgrey;
    padding-left : 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
header div{
    display: flex;
    align-items: center;
}
.descripcion{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
}
.servicios{
    width: 50%;
    color: white;
    display: flex;
    padding: 5%;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(11, 82, 32);
    border-radius: 15px;
}
#centrar{
    text-align: center;
    font-size: 200%;
}
footer{
    background-color: lightgrey;
}
#frase{
    font-size: 350%;
}
.footer-content{
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 5%;
    justify-content: space-around;
    align-items: center;
}
.footer-content li{
    margin: 0;
    padding: 0;
}
img{
    width: 80%;
    height: auto;
}